

.contenedor_2{
    display:flex;
    flex-direction: row;
}
.contenedor_left{
    width: 300px;
}
.contenedor_left>div{
    width: 100%!important;
    padding: 20px;
}

.contenedor_ropa{
    width: 200px;
    height: 260px;
    border: 1px solid rgba(0, 0, 0, 0.459);
    /* padding: 10px; */
    margin: 10px;
    border-radius:  5px;
}
.estrellas{
    display: flex;
    justify-content: center;
    padding: 5px;
    color:yellow;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1),
    0 0 10px rgba(22, 22, 22, 0.966),
    0 0 20px rgb(104, 104, 104,1),
    0 0 40px rgba(38,104,127,1)
}
.imagen_ropa{
    height: 100%;
    width: 100%;
    object-fit: cover;
    color: 3px solid red!important;
    border-radius:  5px;
    
}
